<% if @line_items.length > 0 %>
  <div class="panel panel-success">
    <div class="panel-heading">
      <h2>My Cart</h2>
    </div>
    <div class="panel-body">
      <table class="table-striped">
        <thead>
          <tr>
            <th class="col-md-2">Image</th>
            <th class="col-md-2">Product</th>
            <th class="col-md-2">Unit Price</th>
            <th class="col-md-2">Quantity</th>
          </tr>
        </thead>
        <tbody>
          <% @line_items.each do |line_item| %>
            <tr>
              <td class="col-md-2"><%= image_tag line_item.product.image.url, width:50 %></td>
              <td class="col-md-2"><%= line_item.product.name %></td>
              <td class="col-md-2"><%= number_to_currency line_item.product.price %></td>
              <td class="col-md-2"><%= line_item.quantity %></td>
              <td class="col-md-2">Subtotal: <%= number_to_currency line_item.line_item_total %></td>
              <td class="col-md-2"><%= link_to 'Put it Back', delete_from_cart_path(line_item_id: line_item.id), method: :post, class: "btn btn-danger btn-sm", data: {confirm: "You really don't want this?"} %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="panel-footer">
      <p><%= link_to "Finished Shopping", checkout_path, class: "btn btn-success" %> <%= link_to "Buy More Stuff", root_path, class: "btn btn-primary" %></p>
    </div>
  </div>
<% else %>
  <div>
    <h1>Cart is empty, nothing chosen for purchase!</h1>
    <%= link_to "Keep Shopping", root_path, class: "btn btn-primary"%>
  </div>
<% end %>
