<h1>Welcome to Crazy Dave's Elektroniks</h1>
<p>Buy all my stuff and give me all your money!</p>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-4">
      <div class="well">
        <h4><%= product.category.name %></h4>
        <% if product.image.url.nil? == false %>
          <p><%= image_tag product.image.url, width:300 %></p>
        <% end %>
        <h3><%= link_to product.name, product %></h3>
        <p><%= number_to_currency product.price %></p>
        <p>
          <a href="#" data-toggle="modal" data-target="#myModal_<%= product.id %>">
            <span class="glyphicon glyphicon-plus"></span> Quick Info
          </a>
        </p>
      </div>
    </div>
    <div class="modal fade" id="myModal_<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel"><%= product.brand %></h4>
		      </div>
		      <div class="modal-body">
		        <p><%= simple_format(product.description.html_safe) %></p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
  <% end %>
</div>
<script>
  var 
    elements = document.querySelectorAll(".well"),
    heights = [];

  /* Getting an array with the heights */
  [].forEach.call(elements, function(each) {
    heights[heights.length] = getComputedStyle(each, null).getPropertyValue("height");
  });

  /* Sorting the array to get the greatest value first */
  heights.sort(function(a, b) {
    return parseFloat(b) - parseFloat(a);
  });

  /* Applying the greatest height to each element */
  [].forEach.call(elements, function(each) {
    each.style.height = heights[0];
  });
</script>